:root {
  /* CSS HEX */
  --blue-jeans: #54b7f7ff;
  --caput-mortuum: #662826ff;
  --blue-sapphire: #285370ff;
  --snow: #fbf9faff;
  --black: #000000ff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 5rem;
}

/* Button */
.btn {
  padding: 1rem 2rem;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--primary {
  background: var(--blue-jeans);
  color: var(--snow);
}

.btn--login:hover {
  background: var(--blue-sapphire);
  color: var(--snow);
}

/* Labels */
label {
  display: block;
  margin-top: 2rem;
}

.lbl--secondary {
  color: var(--blue-sapphire);
}

/* Input */
input {
  padding: 1rem 1rem 0;
  font-style: italic;
  font-weight: 400;
}

.input--box {
  border-bottom: 2px solid #9b9b9b;
}

.input--box:active {
}

.input--outline {
  outline: 0;
  border: 0;
}

.input--outline:active {
}
