:root {
  /* CSS HEX */
  --blue-jeans: #54b7f7ff;
  --caput-mortuum: #662826ff;
  --blue-sapphire: #285370ff;
  --snow: #fbf9faff;
  --black: #000000ff;
}

*{
    margin: 0;
}

html, body{
    height: 100%;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

h2 {
  font-weight: 600;
}

/* Background */
.background{
    background: linear-gradient(-45deg, var(--blue-jeans), var(--blue-sapphire));
    height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container{
    border-radius: 3rem;
}

/* Grid */
.grid {
    display: grid;
 }

.grid--2x1 {
    grid-template-rows: 80px auto;
}


@media screen and (min-width: 768px) {
    .container{
        overflow: hidden;
        max-width: 75%;
        margin: auto auto;
    }

    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
       
    }

    .grid--2x1{
        grid-template-rows: auto;
    }
}

/* Blocks */

.block--input {
  padding: 2rem;
  margin: 2rem;
}

.block--accent {
  background: var(--snow);
}

/* Images */
img {
  display: none;
}

@media screen and (min-width: 768px) {
    img{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}


/* Form */

/* Headings */

.block__header {
  text-align: center;
  color: #9b9b9b;
}

.heading {
  margin: 1rem auto;
}

.header__text{
  font-style: italic;
}

@media screen and (min-width: 768px) {

    
    .heading{
        display: none;
    }

    .header__text{
      display: none;
    }
}


/* Button */
.btn {
  padding: 1rem 2rem;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  margin: 1rem auto;
  width: 90%;
}

.btn--primary {
  background: var(--blue-jeans);
  color: var(--snow);
}

.btn--login:hover {
  background: var(--blue-sapphire);
  color: var(--snow);
}

.btn__center{
    display: flex;
    justify-content: center;
}

/* Labels */
label {
  display: block;
  margin-top: 2rem;
}

.lbl--secondary {
  color: var(--blue-sapphire);
}

/* Input */
input {
  font-style: italic;
  font-weight: 400;
  width: 100%;
}

.input--box {
  border-bottom: 2px solid #9b9b9b;
  width: 100%;
  padding: 1rem;
}

.input--outline {
  outline: 0;
  border: 0;
}

/
